<div class="row">
    <div class="col-lg-offset-3 col-lg-6">

        <form class="form-horizontal">
            <fieldset>

                <h1 class="page-header">
                    Solicitar una nueva monitorización
                    <small></small>
                </h1>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Fuente</label>

                    <div class="col-md-6">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Prensa</option>
                            <option value="2">Twitter</option>
                            <option value="">Facebook</option>
                            <option value="">Foros</option>
                            <option value="">Noticias</option>
                            <option value="">Blogs</option>
                            <option value="">General</option>
                        </select>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textarea">Razón</label>

                    <div class="col-md-4">
                        <textarea class="form-control" id="textarea" name="textarea"></textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Palabras clave</label>

                    <div class="col-md-6">
                        <input id="textinput" name="textinput" type="text"
                               placeholder="Separe las palabras clave por comas"
                               class="form-control input-md">

                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"></label>

                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Solicitar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
