body {
  background: url('../images/login-bg.jpg'); }

.login .jumbotron {
  text-align: center;
  width: 30rem;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4rem auto;
  background-color: #fff;
  padding: 2rem; }

.login .container .glyphicon-list-alt {
  font-size: 10rem;
  margin-top: 3rem;
  color: #f96145; }

.login input {
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius: 0.2rem;
  border: none; }

.login h2 {
  font-weight: bold;
  color: #606060; }

.login .btn {
  border-radius: 0.2rem; }

.login .btn .glyphicon {
  font-size: 3rem;
  color: #fff; }

.login .full-width {
  background-color: #8eb5e2;
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.alert {
  margin-top: 10px; }
